@model auctionSystem.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.open_date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.open_date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.close_date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.close_date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>  

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
